<!DOCTYPE html>
<html>
	<head>
		<title>Results</title>
		<meta name="theme-color" content="#b73030">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
	</head>
	<body>
		
		<header>
			<a href="/">
				<div id="logo">
					<h1>Cinemaflix</h1>
					<h3>Your next movie search starts here</h3>
				</div>
			</a>
		</header>
	
		<div class="container" id="searchInfo">
			<a class="button button-medium" href="/">Back  to search</a>	
			<h2>Search results for: <span id="queryInfo">"<%= queryInfo %>"</span></h2>
		</div>
	
		<div class="container">
		    <div class="container-results">
		    <% if (data["results"].length < 1 ) { %>
		    <div class="noResultsFound">
		    	<h1><i class="fa fa-exclamation-circle"></i> No Results Found</h1>
		    	<h3> <%= data["Error"] %></h3>
		    </div>
		    <% } else { %>
			    <% data["results"].forEach(function(movie){ %>
					<div class="card">
						<div class="thumbnail">
						    <% var image = "https://image.tmdb.org/t/p/w500/" + movie["poster_path"] %>
						    <% if (!movie["poster_path"]) {  %>
						    <% image = "assets/images/noposter.png";%>
						    <% }  %>
							<img src="<%= image %>">
						</div>
						<div class="info">
							<div class="title"><%= movie["title"]  %></div>
							<div class="other">
								<% if (movie["vote_average"] !== 0 ) { %>
								<p><%= movie["vote_average"] %> </p>
							 	<% } else { %>
							 	<p>N/A</p>
							 	<% } %>
							 	<% if (movie["release_date"] !== "" ) { %>
								<span class="otherRight"><%= movie["release_date"].substring(0,4)%></span>
							 	<% } else { %>
							 	<span class="otherRight">N/A</span>
							 	<% } %>
							</div>
						</div>
					</div>
			     <% }) %>
			   <% } %> 
			</div>
		</div>
		
		<footer>
	  		<div><p>Powered by TMDb API</p></div>
			<p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Nikola Antić <span>&middot;</span></p>
			<p><a href="https://github.com/nikantic/cinemaflix" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i> GitHub </a><span>&middot;</span></p>
	  		<p><a href="https://nikantic.github.io/" target="_blank">About me</a></p>
	   	</footer>
	</body>
</html>
